/*
 *= require_tree .
 *= require_self
 */

body {
  background-color: #D4D7C6;
}

h1 {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 3em;
  text-shadow: 3px 3px 5px #908785;
}

p {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.8em;
  color: #EBEDE5;
}