<ul class="category-list">
  <% @categories.each do |category| %>
    <%= link_to "/quotes/#{category.title.downcase}" do %>
      <li id="<%= category.title.downcase %>">
        <p><%= category.title %></p>
      </li>
    <% end %>
  <% end %>
</ul>